@import '../general/fonts-colors.css';

.input {
    border-radius: 0.5rem;
    border: 0.1rem solid;
    padding: 0.5rem;
    display:flex;
    flex:1 1 100%;
  }
  
  .input:focus{
    outline:none;
    box-shadow:0rem 0rem 0.2rem 0.02rem;
  }

  .input-error {
    border: 0.1rem solid var(--error-bkg-clr);
  }

  .input-warning {
    border: 0.1rem solid var(--warn-bkg-clr);
  }
  
  .input-success {
    border: 0.1rem solid var(--success-bkg-clr);
  }

  .input-error:focus{
    outline:none;
    box-shadow:0rem 0rem 0.2rem 0.1rem var(--err-bkg-clr);
  }

  .input-warning:focus{
    outline:none;
    box-shadow:0rem 0rem 0.2rem 0.1rem var(--warn-bkg-clr);
  }

  .input-success:focus{
    outline:none;
    box-shadow:0rem 0rem 0.2rem 0.1rem var(--success-bkg-clr);
  }

  .input-container>p{
    font-size:0.7rem;
    margin:0;
    margin-left:0.75rem;
  }

  .input-container>*{
    display:flex;
  }