@import "./library.css";

@media (max-width: 768px) {
  main {
    grid-column:2/4;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  main {
    grid-column:2/3;
    padding-right: 1rem;
  }
}


body {
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin:0;
  gap:2rem;
  /* height:100vh;*/
}

header {
  grid-column:1/4;

  position:sticky;
  top:0;
  z-index:9999;
}

.sidebar {
  grid-column:1/2;
  width:fit-content;
  display: flex;
  flex-direction:column;
  justify-self:center;
}

.sidebar > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  border-radius: 2rem;
  text-decoration: none;
  color: black; 
}

.sidebar::-webkit-scrollbar {
  display: none;
}



section {
  padding-bottom: 4rem;
}

.examples {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem ;
}

iframe {
  height: auto;
  width: 100%;
}

pre {
  max-height: 300px;
  overflow: hidden;
}

.card-container{
  max-width:350px;
}

.slidecontainer{
  width:250px;
}