@import "./library.css";

@media (min-width: 750px) {
  main {
    max-width: 720px;
  }
}

body {
  justify-content: center;
  position: relative;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
}

section {
  padding-bottom: 4rem;
}

.examples {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.sidebar {
  position: fixed;
  top: 6rem;
  margin: 4rem;
  height: 80vh;
  overflow-y: scroll;
  width: 200px;
}

.sidebar > * {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding: 1rem 3rem;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

main {
  padding-left: calc(10rem + 200px);
  padding-top: 6rem;
}

footer {
}

iframe {
  height: auto;
  width: 100%;
}

pre {
  max-height: 300px;
  overflow: hidden;
}

.list-wrapper {
  width: 200px;
}
