@import "./library.css";

@media (min-width: 750px) {
  main {
    max-width: 720px;
  }
}

body {
  justify-content: center;
  position: relative;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 7rem;
  background-color: var(--secondary-color);
}

section {
  padding-bottom: 4rem;
}

.examples {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

main {
  padding-left: calc(10rem + 200px);
  padding-top: 6rem;
}

footer {
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

iframe {
  height: auto;
  width: 100%;
}

pre {
  max-height: 300px;
  overflow: hidden;
}
