.list {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

ul{
  margin:0;
}

.no-bullet-list > ul {
  list-style-type: none;
  margin: 0;
} 

.inline-list>ul{
  display:flex; 
  flex-wrap:wrap;
  gap:0.5rem 2.5rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 0;
}
