.list {
  max-width: 100%;
  box-sizing: border-box;
}

.no-bullet-list > ul {
  list-style-type: none;
  margin: 0;
}

.list-header {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 0;
}
