:root{
    --err-bkg-clr:rgb(255, 150, 150);
    --success-bkg-clr:rgb(150, 255, 150);
    --info-bkg-clr:rgb(150, 255, 255);
    --warn-bkg-clr:rgb(255, 255, 150);
}

/* general alert */
.alert {
    padding: 0.5rem;
    margin:0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
}

/* special cases of alert */
.alert-error {
    background-color: var(--err-bkg-clr);
}

.alert-success {
    background-color: var(--success-bkg-clr);
}

.alert-info {
    background-color: var(--info-bkg-clr);
}

.alert-warning {
    background-color: var(--warn-bkg-clr);
}