@import "../general/fonts-colors.css";

.img-responsive {
  max-inline-size: 100%;
  block-size: auto;
}
.round-img {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  aspect-ratio: 1/1;
  background-color: var(--secondary-color);
}
